<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="groupCounsumerRestMock" class="org.easymock.EasyMock" factory-method="createMock">
        <constructor-arg value="com.epam.brest.rest_client.GroupCounsumerRest"/>
    </bean>
    <bean id="studenCounsumerRestMock" class="org.easymock.EasyMock" factory-method="createMock">
        <constructor-arg value="com.epam.brest.rest_client.StudentCounsumerRest"/>
    </bean>

    <bean id="groupController" class="com.epam.brest.web_app.controllers.GroupController"/>

    <bean id="studentController" class="com.epam.brest.web_app.controllers.StudentController"/>

    <bean id="homeController" class="com.epam.brest.web_app.controllers.HomeController"/>

    <bean id="errorController" class="com.epam.brest.web_app.controllers.ErrorController"/>

    <bean id="exceptionThrowingController" class="com.epam.brest.web_app.controllers.ExceptionThrowingController"/>

    <bean id="validator"  class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

</beans>