<form #myForm="ngForm">
  <h1 mat-dialog-title>{{title}}</h1>
  <div mat-dialog-content>
    <!--Students name-->
    <mat-form-field>
      <input matInput id="studentName" name="studentName"
             required minlength="1" maxlength="50"
             placeholder="Students name"  [(ngModel)]="data.studentName" #studentName="ngModel">
      <div *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)"
           class="alert alert-danger">
        <div *ngIf="studentName.errors.required">
          field is required.
        </div>
        <div *ngIf="studentName.errors.minlength">
          Name must be at least 1 character long.
        </div>
        <div *ngIf="studentName.errors.maxlength">
          Name must less than 50 characters long.
        </div>
      </div>
    </mat-form-field>
<!--Date of birth-->
    <mat-form-field color="accent">
      <mat-label>Date of birth</mat-label>
      <input   matInput [matDatepicker]="picker1" [(ngModel)]="data.studentBirth" id="studentBirth" name="studentBirth" readonly="true"  required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 disabled="false" required></mat-datepicker>
    </mat-form-field>

<!--Average mark-->
    <mat-form-field>
      <input matInput type="number" id="studentAvgMarks" name="studentAvgMarks"
             required  min=0 max=10
             placeholder="Average mark"  [(ngModel)]="data.studentAvgMarks">
    </mat-form-field>

    <!--Group ComboBox-->
    <mat-form-field>
      <mat-label>Group</mat-label>
      <select matNativeControl [(ngModel)]="data.groupId" name="car" required>
        <option value="" selected></option>
        <option *ngFor="let group of groupsList" [value]="group.groupId">
          {{group.fullName}}
        </option>
      </select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button  (click)="onNoClick()">Cancel</button>
    <button  type="submit" mat-button [mat-dialog-close]=data cdkFocusInitial [disabled]="!myForm.valid">Ok</button>
  </div>
</form>
