<header>
  <nav id="main-header"
       class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
    <span class="navbar-brand text-uppercase mr-auto">Departments</span>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a href="#"
           class="btn btn-light"
           title="Add department test"
           data-toggle="tooltip"
           data-placement="bottom">
          <i class="fa fa-plus"></i> <span
          class="d-none d-sm-inline">Add</span></a>
      </li>
    </ul>
  </nav>
</header>
