<header>
  <nav id="main-header"
       class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
    <span class="navbar-brand text-uppercase mr-auto">Departments</span>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a href="#"
           class="btn btn-light"
           title="Add department test"
           data-toggle="tooltip"
           data-placement="bottom">
          <i class="fa fa-plus"></i> <span
          class="d-none d-sm-inline">Add</span></a>
      </li>
    </ul>
  </nav>
</header>

<section id="departments">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
              <th>Title</th>
              <th>Avg salary</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dto of dtos | async">
              <td>{{dto.departmentName}}</td>
              <td>{{dto.avgSalary}}</td>
              <td class="text-right">
                <a href="#"
                   class="btn-sm btn-outline-secondary"
                   ngbTooltip="Edit department"
                   placement="top">
                  <i class="fa fa-pencil"></i> <span
                  class="d-none d-md-inline">Edit</span></a>
                <span data-toggle="modal" data-target="#deleteDialog">
                            	<a href="#" class="btn-sm btn-outline-secondary"
                                 ngbTooltip="delete department"
                                 placement="top">
                                	<i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                            	</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
