<mat-toolbar color="primary" class="mat-elevation-z4">
  <img src="/angular-frontend/src/assets/icon.svg" alt="Logo">
  {{title}}
  <button mat-button [routerLink]=groupspath routerLinkActive="active">Groups</button>
  <button class="nav-link" mat-button [routerLink]=studentspath routerLinkActive="active">Students</button>
</mat-toolbar>
<mat-toolbar class="toolbar-second-row" color="accent">
  <button mat-button (click)="openEditDialog()">
    <mat-icon>plus_one</mat-icon>
    ADD
  </button>
  <mat-form-field color="accent">
    <mat-label>Date from</mat-label>
    <input #fromInput matInput [matDatepicker]="picker1" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-label>Date to</mat-label>
    <input #toInput matInput [matDatepicker]="picker2" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="filterList(picker1,picker2)">
    <mat-icon>filter_list</mat-icon>
    Filter
  </button>

  <button mat-button (click)="clearFilter()">
    Clear Filter
  </button>
</mat-toolbar>

<table mat-table *ngIf="students.length>0" [dataSource]="students" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef> Student id</th>
    <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef> Student name</th>
    <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="studentBirth">
    <th mat-header-cell *matHeaderCellDef>Date of birth</th>
    <td mat-cell *matCellDef="let element">   {{ element.studentBirth| date:'dd.MM.yyyy'}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="studentAvgMarks">
    <th mat-header-cell *matHeaderCellDef>Average mark</th>
    <td mat-cell *matCellDef="let element"> {{element.studentAvgMarks}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Full name</th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>


  <ng-container matColumnDef="star" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="edit" (click)="openEditDialog(element.studentId)">
          <mat-icon>edit</mat-icon>
          Edit
        </mat-button-toggle>
        <mat-button-toggle value="delete" (click)="openDeleteDialog(element.studentId)" >
          <mat-icon>delete</mat-icon>
          Delete</mat-button-toggle>
      </mat-button-toggle-group>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-spinner *ngIf="loading===true" ></mat-spinner>
<div *ngIf="students.length === 0">No records found</div>


