<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HR Test Template</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>
<div class="container-fluid">

    <!--Top navibar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info text-light">
        <a href="departments.html" class="navbar-brand"><img src="../../resources/static/images/icon.svg" width="64"
                                                             height="64"> </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="display" th:text="#{logo}">Groups-Students-temp</h1>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link active" href="groups.html " th:href="'/groups' " th:text="#{grHead}">Groups_temp
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="students.html" th:href="'/students'" th:text="#{studHead}">Students_temp</a>
            </ul>
        </div>
    </nav>

</div>

<header>
    <div class="container-fluid">

        <nav class=" p-0 pl-4 navbar navbar-expand-sm navbar-light bg-light text-dark">
            <!--Back button-->
            <ul class="navbar-nav float-left">
                <li class="nav-item">
                    <a href="groups.html" th:href="'/groups'" class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Back"><i class="fa fa-arrow-circle-left">

                    </i></a>
                </li>
            </ul>
            <!--titele-->
            <a  href="groups.html" th:href="'/groups'" class="p-0 pl-4 navbar-brand text-uppercase mr-auto">
                <div th:if="${isNew} == true" th:text="#{new_group}">new_group_temp</div>
                <div th:if="${isNew} == false" th:text="#{edit_group}">edit_group_temp</div>
            </a>

            <!--Save button-->
            <ul class="p-0 pr-4 navbar-nav float-right">
                <li class="nav-item">
                    <a href="groups.html"
                       th:href="@{/saveGroup}"
                       th:onclick="@{document.forms['groupForm'].submit(); return false;}"
                       class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Save"><i class="fa fa-save">
                    </i>Save</a>
                </li>
            </ul>

        </nav>
    </div>
</header>

<section id="group">
    <div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form id="employeeForm"
                  th:object="${group}"
                  action="groups.html"
                  th:action="@{/saveGroup}"
                  th:method="@{post}">
                <input id="field_groupId"
                       name="field_groupId"
                       type="hidden"
                       th:field="*{groupId}"/>

                <div class="form-group">

                    <label for="shortName">Name</label>
                    <input type="text" class="form-control" id="shortName" th:placeholder="#{group.edit_short_name}"
                           th:field="*{shortName}">
                    <label class="d-none d-sm-inline text-danger"
                           for="shortName"
                           th:if="${#fields.hasErrors('shortName')}"
                           th:text="#{group.short_name_error}">error</label>
                    <p></p>

                    <label for="fullName">Name</label>
                    <input type="text" class="form-control" id="fullName" th:placeholder="#{group.edit_full_name}"
                           th:field="*{fullName}">
                    <label class="d-none d-sm-inline text-danger"
                           for="fullName"
                           th:if="${#fields.hasErrors('fullName')}"
                           th:text="#{group.full_name_error}">error</label>
                    <p></p>
                    <p></p>

                    <label for="description">Name</label>
                    <input type="text" class="form-control" id="description" th:placeholder="#{group.edit_description}"
                           th:field="*{description}">
                    <label class="d-none d-sm-inline text-danger"
                           for="shortName"
                           th:if="${#fields.hasErrors('description')}"
                           th:text="#{group.description_error}">error</label>
                    <p></p>
                    <p></p>
                </div>
            </form>

        </div>
    </div>
    </div>
</section>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>