<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HR Test Template</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>
<!--Header-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="editDepartment.html" class="navbar-brand"><img src="../../resources/static/images/icon.svg" width="64" height="32"> </a>
        <h1 class="display-4">HR</h1>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="departments.html">Departments <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="employees.html">Employees</a>
        </div>
    </nav>
    <header>
<!--Back arrow-->
        <nav class=" p-0 pl-2 navbar navbar-expand-sm navbar-light bg-light text-dark">
            <ul class="navbar-nav float-left">
                <li class="nav-item">
                    <a href="departments.html" class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Back"><i class="fa fa-arrow-circle-left">

                    </i></a>
                </li>
            </ul>
            <!--titele-->
            <p th:text="${Title} "class="navbar-brand text-uppercase mr-auto" />
            <!--<a href="editDepartment.html" class="navbar-brand text-uppercase mr-auto">-->
                <!--Edit Department-->
            <!--</a>-->

            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a href="#" class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Save"><i class="fa fa-save">
                    </i>Save</a>
                </li>
            </ul>


        </nav>
    </header>
<form action="#" th:action="@{/saveEditedDepartment}" th:object="${department.departmentName}" method="post">
    <div class="submit">
        <button type="submit" name="save">Add Seed Starter</button>
    </div>
</form>
    <section id="departmet">

        <div class="card">
            <div class="card-body" >
                <div class="form-group" >
                    <label for="DepartmentName">Department name</label>
                    <input type="text" class="form-control" id="DepartmentName" placeholder="Department name" th:value="${department.departmentName}"/>
                    <p></p>
                    <label for="DepartmentDesc">Description</label>
                    <input type="text" class="form-control" id="DepartmentDesc" placeholder="Description" th:value="${department.description}"/>

                </div>

            </div>
        </div>

    </section>
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
