<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HR Test Template</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>

<!--Top navibar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">
    <!--<button class="navbar-toggler"-->
            <!--type="button"-->
            <!--data-toggle="collapse"-->
            <!--data-target="#navbarsNav">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <a href="employees.html" th:href="'/employees'" class="navbar-brand"><img src="../../resources/static/images/icon.svg" width="64" height="32"> </a>
    <h1 class="display-4">HR</h1>
    <div class="navbar-nav">
        <a class="nav-item nav-link " href="departments.html" th:href="'/departments'">Departments </a>
        <a class="nav-item nav-link active" href="employees.html" th:href="'/employees'">Employees<span class="sr-only">(current)</span></a>
    </div>
</nav>

<header>
    <nav class=" p-0 pl-2 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <a href="employees.html" th:href="'/employees'" class="navbar-brand text-uppercase mr-auto">
            EMPLOYEES
        </a>
        <!--right Add button -->
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a href="#" class="btn btn-sm btn-outline-secondary"
                   data-toggle="tooltip" data-placement="top"
                   title="Add employee"><i class="fa fa-plus">

                </i>Add</a>
            </li>
        </ul>
    </nav>
</header>
<!--modal-delete-dialog-->
<section id="departmets">
    <div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete record</h5>
                    <button type="button" class="Cancel" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure, you want to delete this record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="departmentId" name="departmentId"  href="" role="button" >Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!--main body-->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Salary</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text ="${employee.employeeName}">Vasia Pupkin</td>
                        <td th:text ="${employee.employeeEmail}">VasiaPupkin@mail.ru</td>
                        <td th:text ="${employee.employeeSalary}">1000</td>
                        <td>
                            <a href="editEmployee.html" th:href="'/editEmployee/' + ${employee.employeeId}"
                               class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top"
                               title="Edit record"><i class="fa fa-pencil"></i> <span class="d-none d-md-inline"> Edit</span></a>

                            <span data-toggle="modal" data-target="#ConfirmDelete">
                            <a href="#" class="open-DelDialog btn btn-sm btn-outline-secondary" data-toggle="tooltip"   data-placement="top" th:data-id=${employee.employeeId}
                               title="Delete record"  >
                                <i class="fa fa-remove"></i><span class="d-none d-md-inline"> Delete</span></a>
                                </span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</section>
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $(document).on("click", ".open-DelDialog", function () {
        var myBookId = $(this).data('id');
        $(".modal-footer #departmentId").attr("href",'/removeEmployee/'+myBookId);

    });
</script>
</body>
</html>
