<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HR Test Template</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>

<!--Top navibar-->
<div class="container-fluid">
<nav class="navbar navbar-expand-sm navbar-dark bg-info text-light">
    <a href="employees.html" th:href="'/departments'" class="navbar-brand"><img
            src="../../resources/static/images/icon.svg" width="64" height="32"> </a>
    <h1 class="display-4">HR</h1>
    <div class="navbar-nav">
            <span class="navbar-brand text-uppercase mr-auto"
                  th:text="${Title} ">Error title</span>
    </div>
</nav>
</div>
<header>
    <div class="container-fluid">
            <span class="navbar-brand text-uppercase mr-auto"
                  th:text="${Text} ">Error text</span>
    </div>
</header>
<!--main body-->

</section>
<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>
