<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students-Groups-Avg Marks</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>
<div class="container-fluid">

    <!--Top navibar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info text-light">
        <a href="groups.html" th:href="@{/groups}" class="navbar-brand"><img src="../../resources/static/images/icon.svg"
                                                                             th:src="@{/resources/static/images/icon.svg}"
                                                                             width="64" height="64"> </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="display" th:text="#{logo}">Groups-Students-temp</h1>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link active" href="groups.html " th:href="@{/groups}" th:text="#{grHead}">Groups_temp
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="students.html" th:href="@{/students}" th:text="#{studHead}">Students_temp</a>
            </ul>
        </div>
    </nav>

</div>

<header>
    <div class="container-fluid">
        <nav class=" p-0 pl-4 navbar navbar-expand-sm navbar-light bg-light text-dark">
            <a href="groups.html" th:href="'/groups'" class="navbar-brand text-uppercase mr-auto"
               th:text="#{grHeadCAPS}">
                GROUPS_temp
            </a>

            <!--right Add button -->
            <ul class="p-0 pr-4 navbar-nav float-right">
                <li class="nav-item">
                    <a href="#" th:href="@{/addGroup}" class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Add group_temp" th:title="#{new_group}"><i class="fa fa-plus" th:text="#{add_button}">
                    </i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!--main body-->
<section id="groups">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th th:text="#{group.short_name}">Short_name_temp</th>
                            <th th:text="#{group.full_name}">Name_temp</th>
                            <th th:text="#{group.avg_marks}">Average marks_temp</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${groups}">
                            <td th:text="${group.shortName}">A12_temp</td>
                            <td th:text="${group.fullName}">Architecture 12_temp</td>
                            <td th:if="${group.groupAvgMarks} == -1" th:text="0">3.3_temp</td>
                            <td th:unless="${group.groupAvgMarks} == -1" th:text="${group.groupAvgMarks}"></td>

                            <td th:if="${group.groupAvgMarks} == -1">
                                <a href="editgroups.html"
                                   th:href="@{'/groups/' + ${group.groupId}}"
                                   class="btn btn-sm btn-outline-secondary" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Edit record" th:title="#{edit_button}"><i class="fa fa-pencil"></i> <span
                                        class="d-none d-md-inline" th:text="#{edit_button}"> Edit_temp</span></a>

                                <span data-toggle="modal" data-target="#ConfirmDelete">
                            <a href="#" class="open-DelDialog btn btn-sm btn-outline-secondary" data-toggle="tooltip"
                               data-placement="top" th:data-id=${group.groupId}
                               title="Delete record" th:title="#{delete_button}">
                                <i class="fa fa-remove"></i><span class="d-none d-md-inline" th:text="#{delete_button}"> Delete_temp</span></a>
                                </span>
                            </td>

                            <td th:unless="${group.groupAvgMarks} == -1">
                                <a href="editgroups.html"
                                   th:href="@{'/groups/' + ${group.groupId}}"
                                   class="btn btn-sm btn-outline-secondary" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Edit record" th:title="#{edit_button}"><i class="fa fa-pencil"></i> <span
                                        class="d-none d-md-inline" th:text="#{edit_button}"> Edit_temp</span></a>


                                <a href="#" class="open-DelDialog btn btn-sm btn-outline-secondary disabled"
                                   data-toggle="tooltip" data-placement="top" th:data-id=${group.groupId}
                                   title="Delete record" th:title="#{delete_button}">
                                    <i class="fa fa-remove"></i><span class="d-none d-md-inline"
                                                                      th:text="#{delete_button}"> Delete_temp</span></a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
<!--modal-delete-dialog-->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" title="" th:text="#{delete_title}">Delete
                    record_temp</h5>
            </div>

            <div class="modal-body" th:text="#{modal_dep_del}">
                Are you sure, you want to delete this record?___temp
                <input type="text" value=""/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}">
                    Cancel_temp</button>

                <a class=" btn btn-primary" id="groupId"  name="groupId" href="" th:href="''" role="button"
                   th:text="#{delete_button}">Delete</a>

            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).on("click", ".open-DelDialog", function () {
        var url=[[@{/groups}]]+"/";
            var recordID = $(this).data('id');
            $(".modal-footer #groupId").attr("href",url+ recordID+'/delete');
        });
    /*]]>*/
</script>
</body>
</html>