<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students-Groups-Avg Marks</title>
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
</head>
<body>
<div class="container-fluid">

    <!--Top navibar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info text-light">
        <a href="groups.html" class="navbar-brand"><img src="../../resources/static/images/icon.svg" width="64"
                                                             height="64"> </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="display" th:text="#{logo}">Groups-Students-temp</h1>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link" href="groups.html " th:href="'/groups' " th:text="#{grHead}">Groups_temp
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="students.html" th:href="'/students'" th:text="#{studHead}">Students_temp</a>
            </ul>
        </div>
    </nav>

</div>

<header>
    <div class="container-fluid">
        <nav class=" p-0 pl-4 navbar navbar-expand-sm navbar-light bg-light text-dark">
            <a href="groups.html" th:href="'/groups'" class="navbar-brand text-uppercase mr-auto"
               th:text="#{stHeadCAPS}">
                STUDENTS_temp
            </a>

<!--Date picker-->

            <form id="dateInterval"
                  th:object="${datesInterval}"
                  action="students.html"
                  th:action="@{/filtrStudents}"
                  th:method="@{post}">

                <div class="p-0 pr-4 navbar navbar-expand-md  navbar-light bg-light text-dark">

                <label for="dateFrom" th:text="#{student.dateFrom}">dateFrom_temp</label>
                <input type="date"  id="dateFrom" name="dateFrom" max="3000-12-31"
                       min="1000-01-01"
                       th:field="*{dateFrom}">
                    <label class="d-none d-sm-inline text-danger"
                           for="dateInterval"
                           th:if="${isError} == true"
                           th:text="#{students.filter_error}">error_temp</label>

                <label for="dateTo" th:text="#{student.dateTo}">dateTo_temp</label>
                <input type="date"  id="dateTo" name="dateTo" max="3000-12-31"
                       min="1000-01-01"
                       th:field="*{dateTo}">
                </div>

            </form>

            <ul class="p-0 pr-4 pl-4 navbar-nav float-right">
                <li class="nav-item">
                    <a href="students.html"
                       th:href="@{/filtrStudents}"
                       th:onclick="@{document.forms['dateInterval'].submit(); return false;}"
                       class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Filter" th:title="#{students.button_filter}" th:text="#{students.button_filter}"><i class="fa fa-filter">
                    </i>filter_temp</a>
                </li>
            </ul>

            <ul class="p-0 pr-4 navbar-nav float-right">
                <li class="nav-item">
                    <a href="#" th:href="'/addStudent'" class="btn btn-sm btn-outline-secondary"
                       data-toggle="tooltip" data-placement="top"
                       title="Add student" th:title="#{add_button}"><i class="fa fa-plus" th:text="#{add_button}">
                    </i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!--main body-->
<section id="students">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th th:text="#{student.name}">Student name_temp</th>
                            <th th:text="#{student.birth}">Date if birth_temp</th>
                            <th th:text="#{student.avg_marks}">Average marks_temp</th>
                            <th th:text="#{student.group_name}">Group_temp</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.studentName}">Vasia Pupkin_temp</td>
                            <td th:text="${#dates.format(student.studentBirth, 'dd-MM-yyyy')}">12.01.1998_temp</td>
                            <td th:text="${student.studentAvgMarks}">5.8</td>
                            <td th:text="${student.fullName}">Architecture 12_temp</td>

                            <td >
                                <a href="editstudents.html"
                                   th:href="'/students/' + ${student.studentId}"
                                   class="btn btn-sm btn-outline-secondary" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Edit record" th:title="#{edit_button}"><i class="fa fa-pencil"></i> <span
                                        class="d-none d-md-inline" th:text="#{edit_button}"> Edit_temp</span></a>


                                <span data-toggle="modal" data-target="#ConfirmDelete">
                            <a href="#" class="open-DelDialog btn btn-sm btn-outline-secondary" data-toggle="tooltip"
                               data-placement="top" th:data-id=${student.studentId}
                               title="Delete record" th:title="#{delete_button}">
                                <i class="fa fa-remove"></i><span class="d-none d-md-inline" th:text="#{delete_button}"> Delete_temp</span></a>
                                </span>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
<!--modal-delete-dialog-->
<div class="modal fade" id="ConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" title="" th:text="#{delete_title}">Delete
                    record_temp</h5>
            </div>

            <div class="modal-body" th:text="#{modal_dep_del}">
                Are you sure, you want to delete this record?___temp
                <input type="text" value=""/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel_button}">
                    Cancel_temp</button>

                <a class=" btn btn-primary" id="groupId"  name="groupId" href="" role="button"
                   th:text="#{delete_button}">Delete</a>


            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $(document).on("click", ".open-DelDialog", function () {
        var recordID = $(this).data('id');
        $(".modal-footer #groupId").attr("href", '/students/' + recordID+'/delete');
    });
</script>


</body>
</html>